{% extends 'base.html' %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form class="form-group" action="/home/registerpage/" method="post">
          {% csrf_token %}
          <div class="column  mx-6">
            <!-- NAME -->
            {% for message in messages %}
            {% if message is not None %}
            <div class="control pt-6 pb-6">
              <strong><p class="help is-danger">{{message}}</p></strong>
            </div>
            {% endif %}
            {% endfor %}
            <div class="field">
                <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" placeholder="Text input">
            </div>
            </div>

            <!-- USERNAME -->
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" name="username" placeholder="Text input" value="bulma">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
            </div>

            <!-- EMAIL -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" name="email1" placeholder="Email input" value="hello@money.com">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>

            <!-- CONFIRM EMAIL -->
            <div class="field">
              <label class="label">Please confirm your email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" name="email2" placeholder="Confirm email" value="hello@money.com">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" name="password1" placeholder="Password input" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <!-- CONFIRM PASSWORD -->
            <p>Please confirm your password</p>
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" name="password2" placeholder="Confirm password" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <!-- TERMOS E CONDIÇÕES -->
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I agree to the <a href="#">terms and conditions</a>
                </label>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <button class="button is-link is-light">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>



{% endblock %}
